body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #4A6CF7;
}

.logo img {
    width: 120px; 
    height: auto;
    margin-right: 12px;
  }  

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .signup,
.auth-buttons .login {
  background-color: #2155CD;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.auth-buttons .signup:hover,
.auth-buttons .login:hover {
  background-color: #1a45a0;
}
