.profile-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 15px;
    z-index: 1000;
  }
  

.card-options p {
  margin: 10px 0;
  cursor: pointer;
}
